@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
::-webkit-scrollbar {
  width: 15px;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

* {
  box-sizing: border-box;
}

/* https://qna.habr.com/q/238908 */
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 18px;
  font-style: normal;
  color: #212121;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.shop {
  margin: 100px 0;
}
.shop__filters-top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: calc(100% - 1160px);
  margin-bottom: 40px;
}
.shop__filters-top .filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  gap: 6px;
  line-height: 150%;
  color: #212121;
}
.shop__filters-top .filter .filter__category {
  margin-right: 52px;
}
.shop__filters-top .filter .filter__rule-input {
  display: none;
}
.shop__filters-top .filter .filter__rule-input:checked + .filter__rule-label {
  color: #fff;
  background: #484848;
}
.shop__filters-top .filter .filter__rule-label {
  cursor: pointer;
  padding: 6px 52px;
}
.shop__filters-top .filter .filter__rule-label:hover {
  color: #fff;
  background: #484848;
}
.shop__filters-left {
  width: 330px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  float: left;
}
.shop__filters-left .filter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #212121;
}
.shop__filters-left .filter .filter-hidden + .filter__rule-label {
  color: #bababa;
}
.shop__filters-left .filter .filter__category {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #212121;
}
.shop__filters-left .filter .filter__range {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.shop__filters-left .filter .filter__range-input {
  width: 83px;
  display: block;
}
.shop__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  text-align: center;
}
@media only screen and (min-width: 1500px) {
  .shop__cards {
    width: 1160px;
  }
}
@media only screen and (max-width: 1500px) {
  .shop__cards {
    width: 852px;
  }
}
@media only screen and (max-width: 1200px) {
  .shop__cards {
    width: 556px;
  }
}
@media only screen and (max-width: 992px) {
  .shop__cards {
    width: 260px;
  }
}
.shop__cards .shop__card {
  display: flex;
  flex-direction: column;
  width: 260px;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  position: relative;
}
.shop__cards .shop__card.state-hidden {
  display: none;
}
.shop__cards .shop__card.discont,
.shop__cards .shop__card.season-hit {
  padding-bottom: 5px;
}
.shop__cards .shop__card.discont:after,
.shop__cards .shop__card.season-hit:after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 59px;
  height: 58px;
}
.shop__cards .shop__card.discont:after {
  background-image: url("data:image/svg+xml,%3Csvg width='59' height='58' viewBox='0 0 59 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.1345 57.3663C55.5981 57.1079 56.3044 56.7729 57.1345 55.8663L54.1345 52.9204V57.3663Z' fill='%235B2424'/%3E%3Cpath d='M4.31649 4L1.63449 1.36633C1.13477 1.86629 0.665384 3.20423 1 4H4.31649Z' fill='%235B2424'/%3E%3Cpath d='M57.1345 55.8663C57.9719 50.9848 59.1347 48.3663 57.1345 39.3663C55.1342 30.3663 24.6346 3.36639 18.6347 1.36633C12.6347 -0.633721 4.94558 -0.268013 1.63449 1.36633L4.31649 4C25.8035 21.8779 36.9765 32.8881 54.1345 52.9204L57.1345 55.8663Z' fill='%23FF0000'/%3E%3Cpath d='M19.6847 12.0789L20.7387 11.6529C20.8168 11.9579 20.933 12.25 21.0873 12.5291C21.2501 12.8082 21.4319 13.0554 21.6325 13.2706C21.8416 13.4858 22.0547 13.6543 22.2718 13.7761C22.4931 13.9021 22.7014 13.9688 22.8966 13.9762C23.0961 13.9878 23.2675 13.921 23.4109 13.776C23.5797 13.6053 23.6337 13.4098 23.5731 13.1895C23.5166 12.965 23.3711 12.7367 23.1364 12.5047L22.042 11.4227L22.814 10.6419L23.8316 11.648C24.0406 11.8547 24.245 11.9723 24.4445 12.0009C24.6484 12.0336 24.8241 11.9754 24.9718 11.826C25.0983 11.698 25.1569 11.5534 25.1475 11.3923C25.1423 11.2268 25.084 11.0511 24.9726 10.865C24.8655 10.6832 24.7181 10.5037 24.5305 10.3266C24.3428 10.1495 24.1234 9.99164 23.8723 9.85306C23.6211 9.71449 23.3575 9.60568 23.0813 9.52664L23.5586 8.41657C23.9964 8.55409 24.4027 8.7533 24.7775 9.01421C25.1609 9.27508 25.4871 9.56809 25.7563 9.89324C26.0339 10.2183 26.2395 10.5566 26.373 10.908C26.5107 11.2551 26.5657 11.5878 26.5378 11.9062C26.5099 12.2246 26.3778 12.5032 26.1416 12.7421C25.9307 12.9555 25.6875 13.0905 25.412 13.1472C25.1366 13.204 24.8543 13.178 24.5652 13.0693C24.2803 12.9649 24.0099 12.7861 23.7539 12.533L24.0073 12.3279C24.3059 12.6232 24.5135 12.9296 24.6298 13.2472C24.7547 13.5647 24.7882 13.8721 24.7305 14.1694C24.6813 14.4666 24.5428 14.7305 24.315 14.9609C24.1041 15.1742 23.8567 15.3093 23.5727 15.3661C23.2973 15.4228 23.0045 15.4117 22.6943 15.3329C22.3841 15.254 22.0758 15.1179 21.7692 14.9245C21.4626 14.7311 21.1706 14.4888 20.8932 14.1976C20.62 13.9107 20.3763 13.5896 20.1622 13.2344C19.9522 12.875 19.7931 12.4898 19.6847 12.0789ZM23.8188 16.9509L27.2231 13.5076L28.2151 14.4884L26.8863 15.8324L28.3839 17.3131L29.7127 15.9691L30.7111 16.9562L27.3069 20.3994L26.3085 19.4123L27.5803 18.1259L26.0827 16.6452L24.8108 17.9317L23.8188 16.9509ZM28.2627 21.3444L31.6669 17.9011L32.6589 18.8819L30.6341 20.9299L34.3358 20.5397L35.251 21.4446L31.8467 24.8878L30.8547 23.907L32.8795 21.859L29.1843 22.2555L28.2627 21.3444ZM36.9474 29.9307L37.6457 27.3938L38.9267 27.7111L38.1314 31.1013L36.9474 29.9307ZM36.7342 27.1381L37.5251 26.3381L38.7219 27.5213L37.931 28.3213L36.7342 27.1381ZM38.5292 28.3179L37.6896 27.2854L40.3964 26.5317L41.4524 27.5758L38.5292 28.3179ZM33.5425 26.5644L32.3649 25.4001L35.7394 24.5599L36.0713 25.8372L33.5425 26.5644ZM35.7377 28.7348L34.7521 27.7603L38.1564 24.317L39.142 25.2915L35.7377 28.7348ZM36.3374 26.7458L35.1469 25.5688L35.9379 24.7688L37.1283 25.9457L36.3374 26.7458ZM35.1371 24.9643L35.8459 22.0328L36.902 23.0768L36.1728 25.7857L35.1371 24.9643ZM41.0888 34.0252L41.5503 31.2542L42.8377 31.5778L42.2664 35.1895L41.0888 34.0252ZM38.6503 31.6144L42.0546 28.1711L43.053 29.1582L39.6488 32.6015L38.6503 31.6144ZM40.6452 31.0048L41.4361 30.2048L42.6394 31.3943L41.8484 32.1944L40.6452 31.0048ZM42.4338 32.1783L41.6006 31.1521L44.525 30.6136L45.5875 31.6639L42.4338 32.1783ZM44.755 37.6499L45.4194 36.9778L45.5009 36.7674L46.6905 35.5641C46.9014 35.3508 46.9998 35.119 46.9857 34.8688C46.9758 34.6228 46.8364 34.3669 46.5676 34.1011C46.3842 33.9197 46.1733 33.7703 45.935 33.6529C45.7053 33.5354 45.48 33.4645 45.2592 33.4403L45.5905 32.3884C45.909 32.4417 46.2364 32.5629 46.5727 32.7519C46.9089 32.9409 47.2136 33.1704 47.4867 33.4404C48.0115 33.9592 48.2966 34.4858 48.3421 35.0202C48.3876 35.5545 48.1509 36.084 47.632 36.6088L45.6894 38.5737L44.755 37.6499ZM43.6548 36.6633C43.386 36.3976 43.1999 36.125 43.0964 35.8455C42.9972 35.5618 42.9745 35.2904 43.0282 35.0313C43.0818 34.7722 43.2057 34.5445 43.3997 34.3483C43.6022 34.1435 43.8285 34.0128 44.0785 33.9562C44.3327 33.9038 44.6108 33.9425 44.9128 34.0724C45.219 34.1979 45.547 34.4336 45.8969 34.7795L46.8121 35.6844L46.2363 36.2668L45.4299 35.4695C45.1952 35.2375 44.9951 35.1156 44.8296 35.1038C44.6683 35.0962 44.5308 35.1501 44.4169 35.2653C44.2903 35.3933 44.2381 35.5442 44.2603 35.718C44.291 35.8918 44.3938 36.0651 44.5688 36.2381C44.7352 36.4026 44.9225 36.5119 45.1307 36.5658C45.3431 36.6155 45.5551 36.5931 45.7667 36.4986L45.4647 37.1112C45.1728 37.2614 44.8739 37.2992 44.568 37.2245C44.2621 37.1499 43.9577 36.9628 43.6548 36.6633Z' fill='white'/%3E%3C/svg%3E%0A");
}
.shop__cards .shop__card.season-hit:after {
  background-image: url("data:image/svg+xml,%3Csvg width='59' height='58' viewBox='0 0 59 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M56.9998 56.5001C57.8372 51.6186 59 49.0001 56.9998 40.0001C54.9995 31.0001 24.4999 4.00017 18.5 2.00012C12.5 6.11544e-05 4.81086 0.36577 1.49978 2.00012L4.55482 5.00011C26.0419 22.878 36.8418 33.5218 53.9998 53.5542L56.9998 56.5001Z' fill='%23C4C4C4'/%3E%3Cpath d='M53.9998 58.0001C55.4634 57.7417 56.1697 57.4067 56.9998 56.5001L53.9998 53.5542V58.0001Z' fill='%23838383'/%3E%3Cpath d='M4.55482 5.00011L1.49978 2.00012C1.00005 2.50007 0.665342 4.2043 0.999958 5.00007L4.55482 5.00011Z' fill='%23838383'/%3E%3Cpath d='M19.5646 4.65229L20.7614 5.83555L20.348 8.10987L22.6175 7.67055L23.8335 8.8728L20.2225 9.5425L19.5258 13.4731L18.3033 12.2645L18.7281 9.7483L16.2297 10.2144L15.0329 9.03113L18.8982 8.32178L19.5646 4.65229ZM19.9988 13.9408L23.4031 10.4975L24.4015 11.4846L20.9972 14.9279L19.9988 13.9408ZM24.3769 10.5111C24.1934 10.3297 24.0968 10.1287 24.087 9.90815C24.0773 9.68758 24.1505 9.49836 24.3065 9.34049C24.4626 9.18262 24.651 9.1073 24.8717 9.11453C25.0923 9.12176 25.2944 9.21607 25.4779 9.39746C25.6613 9.57885 25.76 9.7777 25.774 9.994C25.7922 10.206 25.7232 10.391 25.5671 10.5488C25.4026 10.7153 25.2079 10.797 24.9831 10.794C24.7667 10.791 24.5646 10.6967 24.3769 10.5111ZM22.6913 16.6027L25.5134 13.7483L25.5096 14.2002L24.1208 12.8271L24.9307 12.0079L28.2524 15.2919L27.4424 16.1111L26.0536 14.738L26.5054 14.7291L23.6833 17.5835L22.6913 16.6027ZM28.7807 22.7244C28.4095 22.3574 28.1526 21.9558 28.0101 21.5196C27.8718 21.0791 27.8524 20.6423 27.9517 20.2089C28.0554 19.7798 28.2759 19.3946 28.6134 19.0533C28.9551 18.7077 29.3378 18.4827 29.7614 18.3785C30.1936 18.2742 30.6286 18.2908 31.0663 18.4283C31.5083 18.5616 31.9149 18.8117 32.2862 19.1787C32.6488 19.5373 32.8886 19.9262 33.0056 20.3456C33.1267 20.7607 33.1121 21.1723 32.9617 21.5805L31.776 21.2309C31.8467 20.9801 31.8517 20.7489 31.7911 20.5371C31.7348 20.3295 31.6277 20.1477 31.4698 19.9916C31.2992 19.8229 31.1076 19.7094 30.8951 19.6512C30.6827 19.593 30.4663 19.5943 30.246 19.6549C30.03 19.7198 29.8229 19.8525 29.6246 20.053C29.4263 20.2536 29.296 20.4622 29.2336 20.6789C29.1754 20.8999 29.1767 21.1163 29.2373 21.3281C29.2979 21.5398 29.4135 21.7301 29.5842 21.8988C29.7421 22.0549 29.923 22.1621 30.127 22.2203C30.3394 22.2785 30.5727 22.2687 30.8269 22.1909L31.1836 23.3789C30.7814 23.5297 30.37 23.549 29.9493 23.4369C29.5329 23.3204 29.1433 23.0829 28.7807 22.7244ZM32.5693 26.4701C32.1767 26.082 31.9071 25.6635 31.7603 25.2146C31.6177 24.7699 31.5961 24.3352 31.6956 23.9103C31.7992 23.4812 32.0197 23.096 32.3572 22.7547C32.6989 22.4091 33.0794 22.182 33.4988 22.0736C33.9267 21.9651 34.3532 21.9732 34.7782 22.0981C35.2074 22.2187 35.5969 22.452 35.9468 22.7979C36.2838 23.1311 36.5151 23.5032 36.6405 23.914C36.7743 24.3248 36.7873 24.7426 36.6794 25.1675C36.5757 25.5881 36.3404 25.984 35.9734 26.3552C35.9354 26.3936 35.889 26.4363 35.8341 26.4833C35.7835 26.526 35.7349 26.5666 35.6884 26.605L32.8916 23.8399L33.4674 23.2575L35.7394 25.5038L35.1846 25.2969C35.3618 25.1177 35.4795 24.9261 35.5377 24.7221C35.5959 24.5182 35.5969 24.3166 35.5406 24.1175C35.4886 23.9142 35.3772 23.7281 35.2065 23.5594C35.0358 23.3907 34.8464 23.2793 34.6382 23.2253C34.4385 23.1713 34.2349 23.1767 34.0274 23.2416C33.824 23.3021 33.6317 23.4241 33.4503 23.6076L33.2984 23.7612C33.1128 23.9489 32.9889 24.1554 32.9265 24.3806C32.8726 24.6058 32.8824 24.8306 32.9558 25.0551C33.0377 25.2794 33.181 25.4929 33.3858 25.6954C33.5693 25.8768 33.7567 26.0072 33.9481 26.0867C34.1437 26.1705 34.354 26.2138 34.5789 26.2168L34.5406 27.318C34.2056 27.3411 33.8701 27.2836 33.5341 27.1455C33.2024 27.0032 32.8808 26.778 32.5693 26.4701ZM36.1133 29.9992C36.4376 30.3198 36.7699 30.564 37.1103 30.7318C37.4591 30.8995 37.7884 30.9761 38.098 30.9616C38.4161 30.9471 38.6849 30.8289 38.9042 30.607C39.1615 30.3467 39.2552 30.0344 39.1853 29.6699C39.1195 29.3012 38.8968 28.9291 38.517 28.5536L38.2953 28.7267C38.5129 28.9419 38.745 29.0996 38.9917 29.2001C39.2425 29.2962 39.4824 29.3267 39.7113 29.2914C39.9445 29.2604 40.1433 29.1617 40.3079 28.9953C40.5146 28.7862 40.615 28.5353 40.609 28.2426C40.6074 27.9541 40.5165 27.6449 40.3365 27.315C40.1564 26.9851 39.9021 26.6662 39.5737 26.3584C39.3519 26.1475 39.1026 25.9601 38.8259 25.7962C38.5492 25.6323 38.2514 25.4855 37.9324 25.3558L37.4922 26.2875C37.7602 26.4005 38.0049 26.5285 38.2263 26.6715C38.452 26.8103 38.6501 26.964 38.8208 27.1327C38.9701 27.2804 39.0791 27.4176 39.1477 27.5445C39.2205 27.6671 39.2572 27.7794 39.2578 27.8812C39.2584 27.983 39.2228 28.0702 39.1511 28.1427C39.0836 28.211 39.0032 28.2496 38.9099 28.2586C38.8251 28.2676 38.7295 28.2448 38.6232 28.1903C38.5168 28.1357 38.406 28.0515 38.2908 27.9376L37.67 27.3238L37.0562 27.9446L37.7602 28.6407C37.9394 28.8179 38.0464 28.9827 38.0812 29.1352C38.1203 29.2835 38.0849 29.4131 37.9753 29.5241C37.8909 29.6094 37.7893 29.6524 37.6705 29.6531C37.5517 29.6538 37.4179 29.6142 37.2689 29.5344C37.1284 29.4546 36.9814 29.3388 36.8278 29.1869C36.6145 28.976 36.4244 28.7459 36.2575 28.4965C36.0991 28.2471 35.9746 27.9932 35.884 27.7349L34.9255 28.1668C35.0377 28.4971 35.1965 28.8186 35.4019 29.1314C35.6116 29.4484 35.8488 29.7377 36.1133 29.9992ZM40.1678 33.9825C39.8008 33.6197 39.5504 33.2202 39.4163 32.7839C39.2866 32.3519 39.2693 31.9214 39.3644 31.4923C39.4681 31.0632 39.6886 30.678 40.0261 30.3367C40.3678 29.9911 40.7505 29.7661 41.1741 29.6619C41.6063 29.5576 42.037 29.57 42.4663 29.6991C42.904 29.8281 43.3063 30.074 43.6733 30.4368C44.0359 30.7954 44.2843 31.1928 44.4183 31.629C44.5565 32.061 44.5759 32.4894 44.4765 32.9142C44.3771 33.3391 44.1545 33.7264 43.8086 34.0763C43.4711 34.4176 43.0884 34.6425 42.6605 34.751C42.2368 34.8553 41.8061 34.8429 41.3684 34.7139C40.9306 34.5848 40.5304 34.341 40.1678 33.9825ZM40.9777 33.1633C41.1441 33.3278 41.3314 33.437 41.5396 33.491C41.7478 33.545 41.9599 33.5395 42.1759 33.4746C42.3962 33.4055 42.6033 33.2728 42.7973 33.0765C42.9956 32.876 43.1259 32.6673 43.1883 32.4506C43.2507 32.2339 43.2538 32.0217 43.1974 31.8142C43.1411 31.6066 43.0297 31.4205 42.8633 31.256C42.6969 31.0915 42.5096 30.9823 42.3014 30.9283C42.0932 30.8743 41.879 30.8777 41.6587 30.9383C41.4427 31.0032 41.2356 31.1359 41.0373 31.3364C40.8433 31.5327 40.7129 31.7413 40.6463 31.9623C40.5882 32.1833 40.5873 32.3975 40.6436 32.6051C40.6999 32.8127 40.8113 32.9987 40.9777 33.1633ZM42.7931 36.4768L46.1974 33.0336L47.1894 34.0144L45.8606 35.3584L47.3582 36.839L48.687 35.495L49.6855 36.4821L46.2812 39.9254L45.2828 38.9383L46.5546 37.6519L45.057 36.1712L43.7852 37.4576L42.7931 36.4768ZM46.426 42.6251C46.2468 42.4479 46.0972 42.2451 45.9771 42.0167C45.857 41.7882 45.79 41.5701 45.776 41.3623L46.8432 41.0126C46.8525 41.1568 46.8873 41.2966 46.9474 41.432C47.0119 41.5717 47.0931 41.69 47.1913 41.787C47.3321 41.9262 47.4768 42.0018 47.6253 42.0136C47.7739 42.034 47.9583 42.0011 48.1784 41.915L48.7753 41.6698L48.9596 41.6369L53.1309 39.8885L54.0909 40.8376L48.9226 42.9545C48.5375 43.1222 48.1943 43.2132 47.8932 43.2277C47.5963 43.2463 47.3287 43.2012 47.0905 43.0922C46.8566 42.9875 46.6351 42.8318 46.426 42.6251ZM48.1601 42.0488L50.1612 36.9525L51.1916 37.9712L49.5346 42.0282L48.1601 42.0488Z' fill='%23484848'/%3E%3C/svg%3E%0A");
}
.shop__cards .shop__card-image {
  width: 200px;
}
.shop__cards .shop__card-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.shop__cards .shop__card-price {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
}
.shop__cards .shop__card-discont {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration-line: line-through;
  color: #8d8d8d;
}
